*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/* .box{
    transform propertys:translate|skew| scale| rotate|
} */
.box{
    height: 150px;
    width:150px;
    background-color: black;
    /* transform:translate(100px,100px); */
    /* transform: scale(1,3); */
    /* transform: skew(40deg); */
    transform: rotate(50deg);
    margin:100px;
}